<settings>

    <pluginGroups>
        <pluginGroup>external.atlassian.jgitflow</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>nexus-owsi-unifrance</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>


        <server>
            <id>nexus-central</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-java.net-m2</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-jboss</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-ow2</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-ow2-snapshot</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-codehaus</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-owsi-external</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-owsi-external-alfresco</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-owsi-alfresco</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-owsi-alfresco-snapshots</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nuxeo-studio-ciortf</id>
            <username>schambon</username>
            <password>EQgO5ETW</password>
        </server>
        <server>
            <id>nuxeo-studio-gps-ged</id>
            <username>schambon</username>
            <password>EQgO5ETW</password>
        </server>
        <server>
            <id>OWSI-Nuxeo</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>OWSI-Nuxeo-Snapshots</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>OWSI-Proxy-Central</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-amf-nexus</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-amf-nexus-snapshots</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-owsi-amf-ged</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>

        <server>
            <id>nexus-owsi-amf-ged-snapshots</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
        <server>
            <id>nexus-magnolia-nexus-enterprise</id>
            <username>openwide</username>
            <password>openwide</password>
        </server>
    </servers>


    <mirrors>
        <mirror>
            <id>nexus-java.net-m2</id>
            <mirrorOf>java.net-m2,maven2.java.net,maven2-repository.dev.java.net</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/java.net-m2</url>
        </mirror>
        <mirror>
            <id>nexus-ow2</id>
            <mirrorOf>ow2,OW2,objectweb-repo</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/ow2</url>
        </mirror>
        <mirror>
            <id>nexus-ow2-snapshot</id>
            <mirrorOf>ow2-snapshot,objectweb-snapshot-repo</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/ow2-snapshot</url>
        </mirror>
        <mirror>
            <id>nexus-codehaus</id>
            <mirrorOf>codehaus,codehaus-repository</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/codehaus</url>
        </mirror>
        <mirror>
            <id>nexus-amf-nexus</id>
            <mirrorOf>amf-nexus</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/amf-nexus</url>
        </mirror>
        <mirror>
            <id>nexus-amf-nexus-snapshots</id>
            <mirrorOf>amf-nexus-snapshots</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/amf-nexus-snapshots</url>
        </mirror>

        <mirror>
            <id>nexus-magnolia-nexus-enterprise</id>
            <mirrorOf>magnolia.nexus.enterprise</mirrorOf>
            <url>https://projects.openwide.fr/services/nexus/content/repositories/magnolia-nexus-enterprise</url>
        </mirror>
        <mirror>
            <id>nexus.external.smile</id>
            <mirrorOf>external.smile</mirrorOf>
            <url>http://pic-java.vitry.intranet/nexus/content/repositories/nonCentralArtifacts</url>
        </mirror>
        <mirror>
            <id>nexus.internal.releases</id>
            <mirrorOf>internal.smile</mirrorOf>
            <url>http://nexus.vitry.intranet/repository/InternalSmileReleases/</url>
        </mirror>
        <mirror>
            <id>nexus.mirror.alfresco.release.repo</id>
            <url>http://nexus.vitry.intranet/repository/alfresco-artifacts-repository/</url>
            <mirrorOf>alfresco.release.repo</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus.mirror.central</id>
            <url>https://nexus.vitry.intranet/content/repositories/central</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus.smile-github</id>
            <url>https://nexus.vitry.intranet/content/repositories/smile-github/</url>
            <mirrorOf>smile-github-repository</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus.mirror.jahia.releases</id>
            <mirrorOf>jahia</mirrorOf>
            <url>https://nexus.vitry.intranet/content/repositories/jahiamirror</url>
        </mirror>
        <mirror>
            <id>nexus.mirror.jahia.releases</id>
            <mirrorOf>jahiaRepository</mirrorOf>
            <url>https://nexus.vitry.intranet/content/repositories/jahiamirror</url>
        </mirror>
        <mirror>
            <id>nexus.mirror.nuxeo.releases</id>
            <url>https://nexus.vitry.intranet/content/repositories/nuxeo-release</url>
            <mirrorOf>nuxeo-release</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus.mirror.alfresco-community</id>
            <url>https://nexus.vitry.intranet/content/repositories/alfresco-release</url>
            <mirrorOf>alfresco-community</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus.mirror.alfresco-thirdparty</id>
            <url>https://nexus.vitry.intranet/content/repositories/alfresco-thirdparty</url>
            <mirrorOf>alfresco-thirdparty</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>

        <profile>
            <id>Jboss</id>
            <properties>
                <downloadSources>true</downloadSources>
            </properties>
            <activation>
                <jdk>11</jdk>
            </activation>

            <repositories>
                <repository>
                    <id>jboss</id>
                    <name>Repository for JBOSS projects</name>
                    <url>http://repository.jboss.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>repo1.maven.org</id>
                    <name>Repository for Apache Maven projects</name>
                    <url>http://repo1.maven.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>apache_proxy</id>
                    <url>
                        http://repo1.maven.org/maven2/org/apache/maven/plugins/
                    </url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>


        <profile>
            <id>Nuxeo</id>
            <properties>
                <downloadSources>true</downloadSources>
            </properties>
            <repositories>
                <repository>
                    <id>central_proxy</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/central
                    </url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>external_snapshot</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/external_snapshot
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>nuxeo_release</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/nuxeo_release
                    </url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>nuxeo_snapshot</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/nuxeo_snapshot
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central_proxy</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/central
                    </url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>


                    <id>external_snapshot</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/external_snapshot
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>nuxeo_release</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/nuxeo_release
                    </url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nuxeo_snapshot</id>
                    <url>
                        http://archiva.nuxeo.org/archiva/repository/nuxeo_snapshot
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>Jboss</activeProfile>
    </activeProfiles>

</settings>
